body {
  margin: 0;
  padding: 0;
}
body .box {
  width: 100%;
}
body .box .nav {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
}
body .box .nav .logo {
  box-sizing: border-box;
  display: inline-block;
  height: 80px;
  margin: 0 0 0 157px;
}
body .box .nav .logo img {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px ;
}
body .box .nav #tab {
  box-sizing: border-box;
  display: inline-block;
  font-size: 23px;
}
body .box .nav #tab ul {
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 677px;
  padding: 0;
}
body .box .nav #tab ul li {
  box-sizing: border-box;
  width: 110px;
  height: 80px;
  line-height: 80px;
  list-style: none;
  float: left;
  text-align: center;
}
body .box .nav #tab ul li:hover {
  cursor: pointer;
  font-size: 24px;
}
body .box .nav #tab ul .tabs {
  border-bottom: 3px solid #2397ff;
}
body .box .nav .register {
  display: inline-block;
  margin-right: 500px;
  height: 100%;
  float: right;
}
body .box .nav .register span {
  display: inline-block;
  height: 100%;
  line-height: 80px;
  margin: 0 10px;
}
body .box .nav .register span:hover {
  color: #2397ff;
  cursor: pointer;
}
body .box .content {
  width: 100%;
  margin: 80px auto 0;
  padding: 0;
}
body .box .content div {
  display: none;
}
body .box .content .div_show {
  display: block;
}
body .box .footer {
  font-weight: 400;
  position: relative;
  width: 100%;
  height: 800px;
  background: url(../imgs/beijing3.gif) center;
  padding-top: 470px;
  box-sizing: border-box;
}
body .box .footer .about {
  display: inline-block;
  color: #fff;
  margin-left: 550px;
}
body .box .footer .scan {
  color: #fff;
  display: inline-block;
  float: right;
  margin-right: 460px;
}
body .box .footer .scan img {
  width: 188px;
  height: 188px;
  margin: 23px  0 0 21px;
}
body .box .footer .scan div {
  font-size: 24px;
}
